<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.hogelab.android.androidui" >

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.MEDIA_CONTENT_CONTROL" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".navigationdrawer.TestNavigationDrawerActivity"
            android:label="AndroidUI Navigation Drawer" >
        </activity>

        <activity
            android:name=".musicreceiver.TestMusicReceiverActivity"
            android:label="AndroidUI Music Receiver" >
        </activity>

        <activity
            android:name=".mediacontrolandnotification.TestMediaControlAndNotificationActivity"
            android:label="AndroidUI Media Control And Notification" >
        </activity>

        <activity
            android:name=".musicplayer.TestMusicPlayerActivity"
            android:label="AndroidUI Music Player" >
        </activity>

        <activity
            android:name=".musicplayer.PlayerActivity"
            android:label="AndroidUI Player" >
        </activity>

        <service android:name=".mediacontrolandnotification.PlayerMockService">
            <intent-filter>
                <action android:name="net.hogelab.android.androidui.set_playlist" />
                <action android:name="net.hogelab.android.androidui.play" />
                <action android:name="net.hogelab.android.androidui.stop" />
                <action android:name="net.hogelab.android.androidui.pause" />
                <action android:name="net.hogelab.android.androidui.toggle_playback" />
                <action android:name="net.hogelab.android.androidui.skip_to_next" />
                <action android:name="net.hogelab.android.androidui.skip_to_previous" />
                <action android:name="net.hogelab.android.androidui.fast_forward" />
                <action android:name="net.hogelab.android.androidui.rewind" />
                <action android:name="net.hogelab.android.androidui.seek_to" />
            </intent-filter>
        </service>

        <receiver android:name=".mediacontrolandnotification.MediaControlManager$MediaButtonEventReceiver">
            <intent-filter>
                <action android:name="android.media.AUDIO_BECOMING_NOISY" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
